@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #dce7ea;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352' height='352' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23c5c9cc' stroke-width='2.9'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23a3a3a3'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

.login-container {
    height: 93vh;
    width: 100%;
}

.login-form {
    margin: auto;
    width: 370px;
    padding: 15px;
    max-width: 100%;
}

    .login-form .form-control {
        font-size: 15px;
        min-height: 48px;
        font-weight: 500;
    }

    .login-form a {
        text-decoration: none;
        color: #666;
    }

        .login-form a:hover {
            color: #2b3034;
        }

.forgot-link {
    font-size: 13px;
}

.form-control:focus {
    border-color: #363f45;
    box-shadow: 0 0 0 0.2rem #7b8b8e;
}

.btn-custom {
    background: #b8bec1;
    border-color: #b8bec1;
    color: #575d62;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
    max-width: 300px;
    border: 3px dashed #363f45;
}

    .btn-custom:focus,
    .btn-custom:hover,
    .btn-custom:active,
    .btn-custom:active:focus {
        background: #7b8b8e;
        border-color: #7b8b8e;
        color: #fff;
    }

    .btn-custom:focus {
        border: 3px dashed #363f45;
    }

.dash {
    width: 75%;
    height: 325px;
    padding: 5px;
    background-color: #c5c9cc;
    border: 3px dashed #363f45;
}

.file-input {
    height: 100%;
    width: 100%;
    outline: none;
    opacity: 0;
    z-index: 3;
}
.form-upload {
    height: 100%;
    width: 100%;
}

.cloud-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-and-text {
    margin-top:-28%;
}

.file-drop-area ul {
    max-height: 260px;
    overflow-y: auto;
}

.output-files ul {
    max-height: 330px;
    overflow-y: auto;
}
.output-files {
    height: 400px;
}
.output-link{
    max-width:60%;
}

.style-10::-webkit-scrollbar-track {
    background-color: #d3d6db;
}

.style-10::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.style-10::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent)
}




@media (max-width: 600px) and (min-height: 600px) {
    .dash {
        display: block;
        width: 90%;
        height: 320px;
        padding: 5px;
        background-color: #c5c9cc;
        border: 3px dashed #363f45;
    }
    .img-and-text {
        margin-top: -78%;
    }
    .output-files {
        display: block;
        width: 100%;
        height: 450px;
        padding: 5px;
        background-color: #c5c9cc;
        border: 3px dashed #363f45;
    }
        .output-files ul {
            max-height: 385px;
            overflow-y: auto;
        }
        .output-link{
            max-width:100%;
        }
}

