@model ForgotPasswordViewModel

<div class="d-flex justify-content-center align-items-center reset-password-container">
    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
        <div asp-validation-summary="All" class="text-danger"></div>

        <h1 class="mb-5 font-weight-light text-uppercase text-center">Forgot Password</h1>
        <div class="form-group">
            <input asp-for="Email" class="form-control rounded-pill form-control-lg" placeholder="Email" type="email">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Submit</button>
        </div>
        <p class="mt-5 font-weight-normal text-center">Return to main page ----> <a asp-controller="Home" asp-action="Index"><strong>Main page</strong></a></p>
    </form>
</div>

