<div class="d-flex justify-content-center align-items-center reset-password-container">
    <h2 class="font-weight-light text-uppercase">
        If you have an account with us, we have sent an email
        with the instructions to reset your password.
    </h2>
</div>

