<div class="d-flex justify-content-center align-items-center reset-password-container">
    <h2 class="font-weight-light text-uppercase">
        Your password is reset. Please click <a asp-action="Login">here to login</a>
    </h2>
    <p class="mt-3 font-weight-normal">Return to main page ----> <a asp-controller="Home" asp-action="Index"><strong>Main page</strong></a></p>
</div>
